* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 10PX 30px;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;

}

.navigation a {
    text-decoration: none;
    color: black;
}

.button {
    background-color: #2563EB;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 30px;
}

.banner {
    background-image: url(assets/banner.jpg);
    height: 600px;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: center;
}

.hero {
    color: white;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.banner-button {
    margin-top: 350px;
}

.speaker h3 {
    font-size: 20px;
}

.category {
    font-size: 10px;
    color: #2563EB;
}

.role {
    font-size: 10px;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1300px;
    margin: auto;
    gap: 20px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.speaker {
    border: 1px solid #0D1B2A;
    border-radius: 5px;
    
}
.speaker p,.speaker h3{
    padding-left: 20px;
}

.speaker img {
    width: 100%;

}
.category, h3, .role{
    margin-top: 10px;
}.role{
    margin-bottom: 10px;
}
.all-cards{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 70px;
    
}
h4{
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}
.card-head{
    text-align: center;
    margin-bottom: 20px;
}
.normal-card{
    display: flex;
    flex-direction: column;
    width: 290px;
    min-height: 400px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.highlighted-card{
    background: #0D1B2A;
    color: white;
    display: flex;
    flex-direction: column;
   width: 290px;
   min-height: 400px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px; 
}
.card-class{
    color: #2563EB;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: white;
    margin-top: 50px;
}
.get-standard{
    background: white;
    border-color: #2563EB;
    color: #2563EB;
} 
.get-pro{
    background: #2563EB;
    color: white;
    border: none;
}
.contact-us{
background: white;
border-color: black;
}
ul{
    list-style: none;
    padding: o;
    margin: 25px 0;
}
ul li::before{
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    color: #2563EB;
    font-size: 20px;
}
ul li{
    position: relative;
    padding-left: 10px;
    line-height: 20px;
}
.normal-card h5, .highlighted-card h5{
    font-size: 50px;
    font-weight: 500;
}
.divider{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #e5e7eb;
}
.highlighted-card .divider{
    background: rgba(255, 255, 255, .15);
}
.navigation li::before{
    content: none;
} 
