*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 10PX 30px;
    align-items: center;
}
.navigation{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
.navigation a{
text-decoration: none;
color: black;
}
.button {
    background-color: #2563EB;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 30px;
}
.banner{
    background-image: url(assets/banner.jpg);
    height: 600px;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: center;   
}
.hero{
    color: white;
}
.hero h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.banner-button{
    margin-top: 350px;
}